# MongoDB
mongodb_username=your_mongodb_username
mongodb_password=your_mongodb_password
mongodb_clustername=your_cluster.xxxxx.mongodb.net

# JWT / Auth
your_secret_code=your_jwt_secret_key
algorithm=HS256
auto_expire_token_in_minutes=30
